<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p style="color: green; font-size: 40px">
        {{ test }}
<!--        Hello from Django!!!-->
    </p>
<!--    <p>-->
<!--        {% for x in data %}-->
<!--        {{ x }}-->
<!--&lt;!&ndash;        {{ data }}&ndash;&gt;-->
<!--        {% endfor %}-->
<!--    </p>-->

    <ol>
        {% for x in data %}
        {% if x > 5 %}
        <li>{{ x }}</li>
        {% endif %}
<!--        {{ data }}-->
        {% endfor %}
    </ol>

    {{ val.upper }}

</body>
</html>