<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for e in page %}
    <p>{{ e }}</p>
    {% endfor %}

    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}">prev</a>
    {% endif %}
    {% if page.has_next %}
    <a href="?page={{page.next_page_number}}">next</a>
    {% endif %}

</body>
</html>